@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
:root{
  --root-padding: 0 70px;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto';
}
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

ul,
li,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
  color: #0A0A0A;
}

body {
  margin: 0;
  font-size: 14px;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--root-padding);
}

.logo--container a {
  text-decoration: none;
  color: #0A0A0A;
  display: flex;
  justify-content: space-evenly;
  max-width: 280px;
}

.logo__image {
  width: 60px;
  height: 100%;
  line-height: 0;
  display: block;
  margin-top: 5px;
}

.logo--title{
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
  font-size: 21px;
  height: 100%;
}

.logo--title{
  display: block;
}
.ligth {
  font-weight: 300;
  width: 100%;
  font-size: 15px;
}

.navigation{
  display: flex;
  flex-wrap: wrap;
}

.menu{
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item a{
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  color:#B2B2B2;
}
.menu-item a:hover {
  background: #5982E2;
  color: #fff;
}

.user{
  background: #60A368;
  border: 3px solid #EEBF30;
}

.user img{
  width: 30px;
  height: 30px;
  display: block;
}

.carousel{
  width: 100%;
  height: 400px;
}

.carousel-item {
  width: 100%;
  height: 400px;
  position: absolute;
  display: block;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.carousel-item:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #93B0C7;
  opacity: .4;
  z-index: 1;
}

.carousel-message{
  display: block;
  width: 100%;
  width: 700px;
  position: absolute;
  margin: 0 auto;
  top : 35%;
  left: 0;
  right: 0;
  font-size: 25px;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.carousel-message p {
  text-align: center;
}

.utilities{
  padding: var(--root-padding);
  margin-top: 50px;
  /* width: 100px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.util-item{
  background: #F6F6F6;
  width: 220px;
  height: 280px;
  margin-top: 70px;
  text-align: center;
  padding: 70px 10px;
  position: relative;
}

.util-item h3{
  color: #676767;
  margin-bottom: 10px;
  font-weight: 600;
}

.util-item p{
  color: #676767;
  margin-bottom: 10px;
  font-weight: 200;
}

.util-item a{
  text-decoration: none;
  color: #93B0C7;
  font-style: italic;
}

.util-item-image{
  width: 120px;
  height: 120px;
  position: absolute;
  background: #A3CACA;
  top: -60px;
  left: 54px;
  border-radius: 50%;
}
.util-item-image img{
  width: 100%;
  height: 100%;
}

.hidden{
  display: none;
}

.downloads{
  margin: var(--root-padding);
  margin-top: 50px;
}

.downloads h2{
  margin: 20px 0;
  color: #676767;
}

.card-container{
  display: flex;
  justify-content: space-between;
}
.card{
  width: calc(100% / 3 - 10px);
  min-width: 200px;
  text-decoration: none;
  flex-wrap: wrap;
}

.card img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-content{
  width: 100%;
  object-fit: cover;
  color: #676767;
}

.card-content p{
  font-weight: 200;
  margin: 8px 0;
}

footer{
  margin-top: 50px;
}

.info-container{
  display: flex;
  justify-content: space-between;
  padding: var(--root-padding);
  padding-top: 30px;
  padding-bottom: 30px;
  background: #D7D7D7;
  color: #676767;
}

.footer-list li{
  padding: 5px 0;
}

.footer-list li a{
  text-decoration: none;
  color: #676767;
}

.credits-section{
  background: #000;
  padding: var(--root-padding);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.credits-section ul li{
  display: inline-block;
}
.credits-section ul li a{
  color: #D7D7D7;
  text-decoration: none;
  padding: 0 8px;
  display: inline-block;
  border-right: 1px solid #D7D7D7;
}

.credits-section ul li:last-child a{
  border: 0;
}

.social-container{
  background: #D7D7D7;
  padding: var(--root-padding);
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.social-icon{
  fill: #676767;
}